/* Overrides
-------------------------------------------------*/

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-gulp {
  color: #eb4a4b;
}
